<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Learning Journal</title>
</head>

<body>
    <p>
        <a href="{% url 'learning_journals:index' %}">Home</a> -
        <a href="{% url 'learning_journals:topics' %}">Topics</a> -
        {% if user.is_authenticated %}
            Hello, {{ user.username }}.
            <a href="{% url 'users:logout' %}">Log out</a>
        {% else %}
            <a href="{% url 'users:register' %}">Register</a> -
            <a href="{% url 'users:login' %}">Log in</a>
        {% endif %}
    </p>

    {% block content %}{% endblock content %}
</body>

</html>