{% extends "learning_journals/base.html" %}
{% load bootstrap5 %}

{% block page_header %}
<h1 class="mt-5 orange-deep myline">My Topics</h1>
{% endblock page_header %}

{% block content %}
<p cladd="mb-5">
  <a href="{% url 'learning_journals:new_topic' %}" class="edittopic"><span class="orange-deep">+ </span>Add new
    topic</a>
</p>

<ul class="mt-5 mb-5">
  {% for topic in topics %}
  <li class="mt-4">
    <a href="{% url 'learning_journals:topic' topic.id %}" class="topics">{{ topic }}</a>

    <a href="{% url 'learning_journals:edit_topic' topic.id %}" class="edittopic">
      <span class="orange-deep">-</span> Edit</a>

    <a href="{% url 'learning_journals:delete_topic' topic.id %}" class="edittopic">
      <span class="orange-deep">-</span> Delete</a>

  </li>

  {% empty %}
  <li>
    <h3>No topics have been added yet.</h3>
  </li>
  {% endfor %}
</ul>

<a class="darkgrey" href="{% url 'learning_journals:contact_us' %}">
  <div class="contactus-div darkgrey">
    <i class="fas fa-envelope-open-text"></i>
  </div>
</a>
{% endblock content %}