{% extends 'learning_journals/base.html' %}
{% load bootstrap5 %}

{% block page_header %}
<h1 class="mt-5 orange-deep myline">{{ topic }}</h1>
{% endblock page_header %}


{% block content %}
<p>
    <a href="{% url 'learning_journals:new_entry' topic.id %}" class="edittopic"><span class="orange-deep">+ </span>Add
        new entry</a>
</p>

{% for entry in entries %}
<div class="card mt-5 mb-5">
    <h5 class="card-header darkgrey">
        {{ entry.date_added|date:'M d, Y H:i' }}
        <small><a href="{% url 'learning_journals:edit_entry' entry.id %}" class="edittopic">
                <span class="orange-deep">-</span> Edit</a></small>

        <small><a href="{% url 'learning_journals:delete_entry' entry.id %}" class="edittopic">
                <span class="orange-deep">-</span> Delete</a></small>
    </h5>
    <div class="card-body">
        {{ entry.text|linebreaks }}
    </div>
</div>
{% empty %}
<p>There are no entries for this topic yet.</p>
{% endfor %}

<a class="darkgrey" href="{% url 'learning_journals:contact_us' %}">
    <div class="contactus-div darkgrey">
        <i class="fas fa-envelope-open-text"></i>
    </div>
</a>

{% endblock content %}