{% extends "learning_journals/base.html" %}
{% load bootstrap5 %}

{% block page_header %}
<h1 class="mt-5">Topics</h1>
{% endblock page_header %}

{% block content %}

<ul class="mt-4">
  {% for topic in topics %}
  <li>
    <h4>
      <a href="{% url 'learning_journals:topic' topic.id %}" class="topics">{{ topic }}</a>

      <small><a href="{% url 'learning_journals:edit_topic' topic.id %}" class="edittopic">
          <span class="text-danger">-</span> Edit</a></small>

      <small><a href="{% url 'learning_journals:delete_topic' topic.id %}" class="edittopic">
          <span class="text-danger">-</span> Delete</a></small>
    </h4>
  </li>

  {% empty %}
  <li>
    <h3>No topics have been added yet.</h3>
  </li>
  {% endfor %}
</ul>

<h3><a href="{% url 'learning_journals:new_topic' %}" class="addtopic"><span class="text-danger">+</span> Add a new
    topic</a></h3>

{% endblock content %}