{% extends 'learning_journals/base.html' %}
{% load bootstrap5 %}

{% block page_header %}
<h3>{{ topic }}</h3>
{% endblock page_header %}


{% block content %}
<p>
    <a href="{% url 'learning_journals:new_entry' topic.id %}" class="edittopic"><span class="text-danger">+ </span>Add new entry</a>
</p>

{% for entry in entries %}
<div class="card mb-3">
    <h5 class="card-header">
        {{ entry.date_added|date:'M d, Y H:i' }}
        <small><a href="{% url 'learning_journals:edit_entry' entry.id %}" class="edittopic">
            <span class="text-danger">-</span> Edit</a></small>
        
        <small><a href="{% url 'learning_journals:delete_entry' entry.id %}" class="edittopic">
            <span class="text-danger">-</span> Delete</a></small>
    </h5>
    <div class="card-body">
        {{ entry.text|linebreaks }}
    </div>
</div>
{% empty %}
<p>There are no entries for this topic yet.</p>
{% endfor %}

{% endblock content %}